.a-button {
  border: 0;
  border-radius: 100px;
  color: $white;
  font-size: $font-size-minus-1;
  outline: none;
  padding: $space-s $space-m;
  text-transform: uppercase;

  &.-primary {
    background: $blue-chill;
  }
}
