.a-input {
  background-color: $white;
  border: 2px solid $mischka;
  border-radius: 2px;
  color: $catalina-blue;
  font-size: $font-size-base;
  line-height: $line-height-base;
  outline: none;
  padding: $space-xxxs $space-xs;
  transition: color ease-in-out .3s, border-color ease-in-out .3s;
  width: 100%;

  &:hover, &.-hovered {
    border-color: $surfie-green;
  }

  &:focus, &:active {
    border-color: $blue-chill;
  }

  &:disabled {
    border-color: $athens-grey;
    color: $storm-gray;
  }

  &:focus:invalid, &.-error {
    border-color: $alizarin-crimson;
  }
}

.a-checkbox {
  background-color: $white;
  border: 2px solid $cadet-blue;
  border-radius: 2px;
  cursor: pointer;
  flex-shrink: 0;
  font-size: $font-size-plus-3;
  line-height: $line-height-base;
  height: 24px;
  outline: none;
  text-align: center;
  transition: background-color ease-in-out .3s;
  width: 24px;
  -webkit-appearance: none;

  &:checked {
    background-color: $blue-chill;
    border-width: 0;

    &:before {
      color: $white;
      content: "✔";
    }
  }

  &:hover {
    background-color: $surfie-green;
  }

  &:disabled {
    border-color: $athens-grey;
    pointer-events: none;
  }
}

.a-label {
  color: $ebony-clay;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-minus-1;
  line-height: $line-height-minus-1;

  &.-required::after {
    color: $blue-chill;
    content: "*";
  }
}

.a-error {
  color: $alizarin-crimson;
  font-size: $font-size-minus-2;
  line-height: $line-height-minus-2;
}
