$icon-xs: 16px;
$icon-s: 24px;
$icon-m: 32px;
$icon-l: 48px;
$icon-xl: 64px;

.a-icon {
  font-size: $icon-s;

  &.-touchable {
    padding: #{$min-touchable-size - $icon-s / 2}
  }

  &.-x-large {
    font-size: $icon-xl;
  }

  &.-large {
    font-size: $icon-l;
  }

  &.-medium {
    font-size: $icon-m;

    &.-touchable {
      padding: #{$min-touchable-size - $icon-m / 2}
    }
  }

  &.-x-small {
    font-size: $icon-xs;

    &.-touchable {
      padding: #{$min-touchable-size - $icon-xs / 2}
    }
  }
}
