.a-icon {
  &.-x-large {
    font-size: 64px;
  }

  &.-large {
    font-size: 48px;
  }
  &.-medium {
    font-size: $font-size-plus-5;
  }

  &.-small {
    font-size: $font-size-plus-3;
  }

  &.-x-small {
    font-size: $font-size-base;
  }
}
