<!DOCTYPE html>
<html>
<head>
	<title>Więcej niż LEK - Strona nie istnieje</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">

	<style>
		.hero-body {
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}
	</style>
</head>
<body>
<section class="hero is-medium">
	<div class="hero-body">
		<div class="container has-text-centered">
			<p class="title">Ups, wygląda na to, że nie ma strony o takim adresie</p>
			<p class="subtitle">Gdzie chcesz iść teraz?</p>
			<p class="margin vertical">
				<a class="margin horizontal" href="http://wiecejnizlek.pl">Strona kursu "Więcej
					niż LEK"</a>
			</p>
			<img src="https://media.giphy.com/media/3o7aTskHEUdgCQAXde/giphy.gif" alt="Vincent Vega szuka">
			<p class="margin top">Jeżeli sami skierowaliśmy Cię tutaj - prosimy, daj nam znać, żebyśmy mogli to
				naprawić. Dzięki!</p>
			<p>
				<small>info@wiecejnizlek.pl</small>
			</p>
		</div>
	</div>
</section>
</body>
</html>
