<!DOCTYPE html>
<html>
<head>
	<title>Więcej niż LEK - zaraz wracamy!</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">

	<style>
		.hero-body {
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}
	</style>
</head>
<body>
<section class="hero is-fullheight">
	<div class="hero-body">
		<p class="title is-1">Prosimy o chwilę cierpliwości!</p>
		<p class="subtitle is-3">Pracujemy właśnie nad zmianami na stronie.</p>
		<p>Jeśli chcesz się z nami skontaktować, napisz na info@wiecejnizlek.pl albo na <a
				href="https://facebook.com/wiecejnizlek">facebooku</a>.</p>
		<p style="margin-top: 40px;">
			<img src="https://media.giphy.com/media/U62zbINPekjU4/giphy.gif" alt="Pali się!">
		</p>
	</div>
</section>
</body>
</html>
