/node_modules
/public/storage
/vendor
/.idea
/.vscode
.env
.env.backup
.env.dusk.*
env*/
public/css/*
public/js/*
public/fonts/*
public/mix-manifest.json
storage/debugbar
.DS_Store
yarn-error.log
npm-debug.log
public/hot
phpunit.dusk.xml
phpunit.log.xml
scenario.dusk
public/report.html
*.sql
laravel-echo-server.json
