/node_modules
/public/storage
/vendor
/.idea
/.vscode
!.env.travis
.env
.env.*
env*/
**/*.swp

public/css/*
public/js/*
public/fonts/*
public/images/*
public/svg/*
public/mix-manifest.json
public/report.html

storage/debugbar
storage/framework/testing
.DS_Store
yarn-error.log
npm-debug.log
public/hot
phpunit.dusk.xml
phpunit.log.xml
scenario.dusk
*.sql
laravel-echo-server.json
