/node_modules
/public/storage
/vendor
/.idea
.env
composer.lock
env*/
public/css/*
public/js/*
public/mix-manifest.json
storage/debugbar
_ide_helper.php
.DS_Store
yarn-error.log
npm-debug.log
public/hot
.env.dusk.*
phpunit.dusk.xml