version: '3'

services:

  mysql:
    container_name: mysql
    image: mysql:5.7.22
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=wnl
      - MYSQL_DATABASE=wnl
      - MYSQL_USER=wnl
      - MYSQL_PASSWORD=Spoko200!
    volumes:
      - ${LOCAL_DEV_PATH}/mysql:/var/lib/mysql

  redis:
    container_name: redis
    image: redis:4.0.9-alpine
    ports:
      - "6379:6379"
    command: redis-server
    user: redis:redis
    sysctls:
      - net.core.somaxconn=1024

  php:
    container_name: php
    build:
      context: .
      dockerfile: Dockerfile.dev.php
    ports:
      - "9000:9000"
    volumes:
      - ${LOCAL_CODE_PATH}:/code

  laravel-worker:
    container_name: laravel-worker
    image: bethink/php:7.2.7-fpm-alpine3.7
    volumes:
      - ${LOCAL_CODE_PATH}:/code
    command: /code/bethink/wnl-platform/artisan queue:work --queue=default --tries=3 --daemon

  laravel-queue-worker:
      container_name: laravel-queue-worker
      image: bethink/php:7.2.7-fpm-alpine3.7
      volumes:
        - ${LOCAL_CODE_PATH}:/code
      command: /code/bethink/wnl-platform/artisan queue:work --queue=notifications --tries=3 --daemon

  composer:
    container_name: composer
    image: bethink/composer:1.6.5
    entrypoint: docker-php-entrypoint
    command: php -a
    tty: true
    volumes:
      - ${LOCAL_CODE_PATH}:/code

  echo:
    container_name: echo
    image: bethink/echo-server:1.2.8-build2
    ports:
      - "8755:8755"
    volumes:
      - ${LOCAL_CODE_PATH}/bethink/wnl-platform/laravel-echo-server.json:/src/laravel-echo-server.json

  nginx:
    container_name: nginx
    image: nginx:1.15.0-alpine
    ports:
      - "80:80"
    volumes:
      - ${LOCAL_DEV_PATH}/nginx/:/etc/nginx/conf.d:ro
      - ${LOCAL_CODE_PATH}:/code

  chat:
    container_name: chat
    image: node:8.11.1-alpine
    volumes:
      - ${LOCAL_CODE_PATH}:/code
    command: node /code/bethink/wnl-chat/server.js
    ports:
      - "9663:9663"

  sad:
      container_name: sad
      image: node:8.11.1-alpine
      volumes:
        - ${LOCAL_CODE_PATH}:/code
      command: node /code/bethink/sad-server/server.js
      ports:
        - "1199:1199"

  rabbit:
    container_name: rabbit
    image: rabbitmq:3.7.6-management-alpine
    ports:
      - "5672:5672"
