includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    ignoreErrors:
        # Facades are not supported, see https://github.com/nunomaduro/larastan/issues/14
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Redis::[a-z]+\(\)#'
        - '#Call to an undefined static method GrahamCampbell\\Throttle\\Facades\\Throttle::hit\(\)#'
