.o-stepper {
  display: flex;
  width: 100%;

  .o-stepper__step {
    border-top: 4px solid $mischka;
    color: $cadet-blue;
    flex: 1 0 auto;
    font-size: $font-size-minus-2;
    padding-right: $space-l;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;

    a {
      color: inherit;
      cursor: inherit;
    }

    &.-isDone a {
      color: $storm-gray;
      cursor: pointer;
    }

    &.-isDone, &.-isActive {
      border-color: $blue-chill;
    }

    &.-isActive {
      color: $blue-chill;
    }
  }
}
