$blue-chill: #0D9EA0;
$surfie-green: #0F8385;
$jungle-green: #27AA5B;

$alizarin-crimson: #DE2F1B;

$governor-bay: #374DC1;

$my-sin: #FDB72D;

$gigas: #62378D;
$deluge: #7B569F;

$firefly: #0C1726;
$ebony-clay: #262B37;
$catalina-blue: #25335A;
$rhino: #434A5A;
$storm-gray: #6F7285;
$cadet-blue: #A7ACBD;
$mischka: #CDD0DA;
$athens-grey: #E6E8EE;
$alabaster: #F7F7F7;
$white: #FFFFFF;

.-cadetBlue {
  color: $cadet-blue;
}

.-catalinaBlue {
  color: $catalina-blue;
}

.-stormGrey {
  color: $storm-gray;
}

.-mischka {
  color: $mischka;
}

.-white {
  color: $white;
}
