$breakpoint-s: (min-width: 760px);
$breakpoint-m: (min-width: 980px);
$breakpoint-l: (min-width: 1280px);

.-hiddenSAndUp {
  @media #{$breakpoint-s} {
    display: none !important;
  }
}

.-hiddenMAndUp {
  @media #{$breakpoint-m} {
    display: none !important;
  }
}

.-hiddenLAndUp {
  @media #{$breakpoint-l} {
    display: none !important;
  }
}
