$font-size-base: 16px;
$line-height-base: 24px;

$font-size-minus-1: 14px;
$line-height-minus-1: 18px;

$font-size-minus-2: 12px;
$line-height-minus-2: 16px;

$font-size-plus-1: 18px;
$line-height-plus-1: 26px;

$font-size-plus-2: 20px;
$line-height-plus-2: 28px;

$font-size-plus-3: 24px;
$line-height-plus-3: 34px;

$font-size-plus-4: 28px;
$line-height-plus-4: 38px;

$font-size-plus-5: 32px;
$line-height-plus-5: 44px;

$font-size-plus-6: 44px;
$line-height-plus-6: 58px;

$font-size-plus-7: 52px;
$line-height-plus-7: 68px;

$font-size-plus-8: 84px;
$line-height-plus-8: 98px;

.-textPlus1 {
  font-size: $font-size-plus-1;
  line-height: $line-height-plus-1;
}

.-textMinus1 {
  font-size: $font-size-minus-1;
  line-height: $line-height-minus-1;
}

.-textMinus2 {
  font-size: $font-size-minus-2;
  line-height: $line-height-minus-2;
}

.-textPlus2 {
  font-size: $font-size-plus-2;
  line-height: $line-height-plus-2;
}
