.-centeredSpread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.-layoutColumn {
  display: flex;
  flex-direction: column;
}

.-textUnderline {
  text-decoration: underline;
}

.-textLight {
  font-weight: 300;
}

.-textRegular {
  font-weight: 400;
}

.-textMedium {
  font-weight: 500;
}

.-textBold {
  font-weight: 700;
}

.-textUppercase {
  text-transform: uppercase;
}

.-dNone {
  display: none;
}
