// Colors
$color-ocean-blue: #2999a3;
$color-sky-blue: #61ced8;
$color-orange: #ffc371;
$color-purple: #53446c;
$color-gray: #242d47;
$color-light-gray: #9b9b9b;
$color-background-gray: #43495a;
$color-white: #fff;
