html, body {
	color: $color-body;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base;

	@media (max-width: #{$mobile}) {
		font-size: $font-size-base-mobile;
	}
}

// Typography

h1 {
	font-size: $font-size-plus-5;
	line-height: $line-height-plus;
}

h2 {
	font-size: $font-size-plus-4;
	line-height: $line-height-plus;
}

h3 {
	font-size: $font-size-plus-3;
	line-height: $line-height-base;
}

h4 {
	font-size: $font-size-plus-2;
	line-height: $line-height-base;
}

h5 {
	font-size: $font-size-plus-1;
	line-height: $line-height-base;
}

.caption {
	font-size: $font-size-minus-1;
	font-weight: $font-weight-black;
	text-transform: uppercase;
}

.metadata {
	text-transform: uppercase;
	font-size: $font-size-minus-2;
	font-weight: $font-weight-black;
}

.big {
	font-size: $font-size-plus-1;
	line-height: $line-height-plus;
}

.huge {
	font-size: $font-size-plus-2;
	line-height: $line-height-plus;
}

.small {
	font-size: $font-size-minus-1;
	line-height: $line-height-base;
}

.very-small {
	font-size: $font-size-minus-2;
	line-height: $line-height-base;
}

.text-danger {
	color: $danger;
}

.text-dimmed {
	color: $color-gray-dimmed;
}

.normal {
	font-weight: $font-weight-regular;
}

.strong {
	font-weight: $font-weight-bold;
}

.strikethrough {
	text-decoration: line-through;
}

.content {
	color: $color-gray-lighter;
}

// Links
a,
a:hover {
	transition: color $transition-length-base;
}

a:hover,
a:active {
	color: $color-sky-blue;
}

a.is-active {
	font-weight: $font-weight-bold;
}

a.secondary-link {
	color: $color-gray-dimmed;

	&:hover,
	&:active {
		color: $color-gray;
	}
}

// Buttons
a.button,
button.button {
	border-radius: $border-radius-full;
	font-size: $font-size-minus-1;
	font-weight: $font-weight-black;
	height: auto;
	line-height: 1.5em;
	max-width: 90%;
	padding: 0.5em 1.25em 0.4em;
	text-align: center;
	text-transform: uppercase;
	transition: background $transition-length-base, border $transition-length-base;

	&:hover {
		transition: background $transition-length-base, border $transition-length-base;
	}

	&.is-outlined {
		transition: border $transition-length-base, color $transition-length-base;

		&:hover {
			background-color: transparent;
			transition: border $transition-length-base, color $transition-length-base;
		}
	}

	&.is-primary {

		&:hover,
		&:active {
			border-color: $color-sky-blue;
			background-color: $color-sky-blue;
		}

		&.is-outlined {

			&:hover,
			&:active {
				background: transparent;
				border-color: $color-sky-blue;
				color: $color-sky-blue;
			}
		}
	}

	&.is-warning {
		color: $color-white;

		&:hover {
			color: $color-white;
		}
	}

	&.is-wide {
		display: inline-block;
		max-width: 100%;
		text-align: center;
		width: 100%;
	}
}

.is-full-width {
	max-width: 100%;
	width: 100%;
}

// Icons

.icon.is-tiny {
	height: 0.75rem;
	width: 0.75rem;

	.fa {
		font-size: 10px;
	}
}

// Tags

.tag {

	span {
		min-width: 0;
		max-width: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

// Forms

.form-header {
	margin-bottom: 1em;
}

.form-group {
	margin: 2em 0;
}

.form-input-group {
	border-bottom: $border-light-gray;
	margin-bottom: $margin-big;
	padding-bottom: $margin-big
}

.form-end {
	margin-bottom: 3em;
}

// ELEMENTS
.tag.is-light {
	background: $color-background-light-gray;
}

// COMPONENTS
// Expandable

.expandable-content {
	display: none;
}

// Lists

.list-group {
	margin: 1rem 0;
}

.list-group-item {
	padding: 0.5em 0;
}

.content .lower-alpha {
	list-style-type: lower-alpha;
}

.spacious {
	li {
		padding: 0.5em 0;
	}
}

/**
 * COMPONENTS
 */

.card-header-icons {
	padding: 0.75rem;
}

// Quill editor

.ql-container.ql-bubble {

	.ql-editor {
		border: $border-light-gray;
	}
}

.wnl-screen-html {
	$resets: (
		'list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9',
		'list-3 list-4 list-5 list-6 list-7 list-8 list-9',
		'list-4 list-5 list-6 list-7 list-8 list-9',
		'list-5 list-6 list-7 list-8 list-9',
		'list-6 list-7 list-8 list-9',
		'list-7 list-8 list-9',
		'list-8 list-9',
		'list-9'
	);
	$list-styles: decimal lower-alpha lower-roman;

	ol li {
		counter-increment: list-num;
		counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
		list-style-type: none;
	}

	ol li:before {
		content: counter(list-num, decimal) ". ";
	}

	@for $i from 1 through 8 {
		$j: $i + 1;

		ol li.ql-indent-#{$i} {
			counter-increment: list-#{$i};
			counter-reset: unquote(nth($resets, $i));
			padding-left: 2 * $margin-base * $i;
		}

		ol li.ql-indent-#{$i}:before {
			content: counter(unquote('list-#{$i}'), nth($list-styles, ($i%3+1))) ". ";
		}
	}
}

.ql-indent-1 {
	margin-left: $margin-base * 1;
}

.ql-indent-2 {
	margin-left: $margin-base * 2;
}

.ql-indent-3 {
	margin-left: $margin-base * 3;
}

.ql-indent-4 {
	margin-left: $margin-base * 4;
}

ul {
	.ql-indent-1 {
		list-style-type: circle;
	}

	.ql-indent-2 {
		list-style-type: square;
	}

	.ql-indent-3 {
		list-style-type: disc;
	}
}

ol {
	.ql-indent-1 {
		list-style-type: lower-roman;
	}

	.ql-indent-2 {
		list-style-type: upper-alpha;
	}

	.ql-indent-3 {
		list-style-type: lower-alpha;
	}
}

.comment-text.content,
.qna-question-content.content,
.qna-answer-content, {
	p,
	p:not(:last-child) {
		margin-bottom: 0;
	}
}

.comment-text.content:not(:last-child),
.qna-question-content.content:not(:last-child),
.qna-answer-content.content:not(:last-child) {
	margin-bottom: 0;
}

// Datepicker

@media only screen and (max-width: 400px) {
	.flatpickr-calendar,
	.flatpickr-weekdays,
	.flatpickr-days,
	.dayContainer {
		max-width: 90vw;
		// width: 90vw;
	}

	.dayContainer {
		min-width: 0;
	}
}

// Toggles

.panel-toggle {
	border: $border-light-gray;
	border-radius: $border-radius-small;
	color: $color-gray-dimmed;
	font-size: $font-size-minus-2;
	font-weight: $font-weight-bold;
	margin: $margin-base $margin-small 0 0;
	padding: $margin-small;
	text-transform: uppercase;
	transition: all $transition-length-base;
	user-select: none;

	&:hover {
		border-color: $color-gray-dimmed;
		color: $color-gray;
		transition: all $transition-length-base;
	}

	&:last-child {
		margin-right: 0;
	}

	&.is-active {
		background: $color-ocean-blue;
		border-color: $color-ocean-blue;
		color: $color-white;
		opacity: 1;
		transition: opacity $transition-length-base;

		&:hover {
			opacity: 0.8;
			transition: opacity $transition-length-base;
		}
	}

	&.is-single {
		font-size: $font-size-minus-3;

		.icon {
			height: $font-size-minus-2;
			width: $font-size-minus-2;
		}

		.fa {
			font-size: $font-size-minus-2;
		}
	}

	.icon {
		margin-left: $margin-tiny;
	}
}

// Notifications

.notification-wrapper {
	position: relative;

	.deleted {
		pointer-events: none;
		cursor: not-allowed;
		filter: blur(5px);
		position: relative;
	}

	.delete-message {
		align-items: center;
		background: transparent;
		color: $color-background-gray;
		display: flex;
		font-size: $font-size-minus-1;
		height: 100%;
		justify-content: center;
		letter-spacing: 1px;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
	}
}

// Datepicker

.flatpickr-day.selected {
	background: $color-ocean-blue;
	border-color: $color-ocean-blue;

	&:hover {
		background: $color-sky-blue;
		border-color: $color-sky-blue;
	}
}

// Embedded
.ratio-16-9-wrapper {
	padding-bottom: 56.25%;
	position: relative;
	width: 100%;

	iframe {
		bottom: 0;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

/**
 * Quill editor styling
 */

.ql-align-left {
	text-align: left;
}
.ql-align-center {
	text-align: center;
}
.ql-align-right {
	text-align: right;
}
.ql-align-justify {
	text-align: justify;
}

// Helpers

.central {
	align-items: center;
	display: flex;
	justify-content: center;
}

.aligncenter {
	text-align: center;
}

.margin {
	margin: 1em;

	&.vertical {
		margin: 1em 0;
	}

	&.horizontal {
		margin: 0 1em;
	}

	&.top {
		margin: 1em 0 0 0;
	}

	&.right {
		margin: 0 1em 0 0;
	}

	&.bottom {
		margin: 0 0 1em 0;
	}

	&.left {
		margin: 0 0 0 1em;
	}

}
