html, body {
	color: $color-body;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

h1 {
	font-size: $font-size-plus-5;
	line-height: $line-height-plus;
}

h2 {
	font-size: $font-size-plus-4;
	line-height: $line-height-plus;
}

h3 {
	font-size: $font-size-plus-3;
	line-height: $line-height-base;
}

h4 {
	font-size: $font-size-plus-2;
	line-height: $line-height-base;
}

h5 {
	font-size: $font-size-plus-1;
	line-height: $line-height-base;
}

// Buttons

.button {
	border-radius: $button-border-radius;
}
