html, body {
	color: $color-body;
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

// Typography

h1 {
	font-size: $font-size-plus-5;
	line-height: $line-height-plus;
}

h2 {
	font-size: $font-size-plus-4;
	line-height: $line-height-plus;
}

h3 {
	font-size: $font-size-plus-3;
	line-height: $line-height-base;
}

h4 {
	font-size: $font-size-plus-2;
	line-height: $line-height-base;
}

h5 {
	font-size: $font-size-plus-1;
	line-height: $line-height-base;
}

.caption {
	font-size: $font-size-minus-1;
	font-weight: $font-weight-black;
	text-transform: uppercase;
}

.metadata {
	text-transform: uppercase;
	font-size: $font-size-minus-2;
	font-weight: $font-weight-black;
}

.big {
	font-size: $font-size-plus-1;
	line-height: $line-height-plus;
}

.huge {
	font-size: $font-size-plus-2;
	line-height: $line-height-plus;
}

.small {
	font-size: $font-size-minus-1;
	line-height: $line-height-base;
}

.very-small {
	font-size: $font-size-minus-2;
	line-height: $line-height-base;
}

.text-danger {
	color: $danger;
}

.text-dimmed {
	color: $color-gray-dimmed;
}

.normal {
	font-weight: $font-weight-regular;
}

.strong {
	font-weight: $font-weight-bold;
}

.strikethrough {
	text-decoration: line-through;
}

.content {
	color: $color-gray-lighter;
}

// Links
a,
a:hover {
	transition: color $transition-length-base;
}

a:hover,
a:active {
	color: $color-sky-blue;
}

a.is-active {
	font-weight: $font-weight-bold;
}

a.secondary-link {
	color: $color-gray-dimmed;

	&:hover,
	&:active {
		color: $color-gray;
	}
}

// Buttons

.button {
	border-radius: $border-radius-full;
	font-size: $font-size-minus-1;
	font-weight: $font-weight-black;
	height: auto;
	line-height: 1.5em;
	max-width: 90%;
	padding: 0.5em 1.25em 0.4em;
	text-align: center;
	text-transform: uppercase;
	transition: background $transition-length-base, border $transition-length-base;

	&:hover {
		transition: background $transition-length-base, border $transition-length-base;
	}

	&.is-outlined {
		transition: border $transition-length-base, color $transition-length-base;

		&:hover {
			background-color: transparent;
			transition: border $transition-length-base, color $transition-length-base;
		}
	}

	&.is-primary {

		&:hover,
		&:active {
			border-color: $color-sky-blue;
			background-color: $color-sky-blue;
		}

		&.is-outlined {

			&:hover,
			&:active {
				background: transparent;
				border-color: $color-sky-blue;
				color: $color-sky-blue;
			}
		}
	}

	&.is-warning {
		color: $color-white;

		&:hover {
			color: $color-white;
		}
	}

	&.is-wide {
		display: inline-block;
		max-width: 100%;
		text-align: center;
		width: 100%;
	}
}

.is-full-width {
	max-width: 100%;
	width: 100%;
}

// Forms

.form-header {
	margin-bottom: 1em;
}

.form-group {
	margin: 2em 0;
}

.form-end {
	margin-bottom: 3em;
}

// COMPONENTS
// Expandable

.expandable-content {
	display: none;
}

// Lists

.list-group {
	margin: 1rem 0;
}

.list-group-item {
	padding: 0.5em 0;
}

.content .lower-alpha {
	list-style-type: lower-alpha;
}

.spacious {
	li {
		padding: 0.5em 0;
	}
}

/**
 * COMPONENTS
 */

.card-header-icons {
	padding: 0.75rem;
}

// Quill editor

.ql-container.ql-bubble {

	.ql-editor {
		border: $border-light-gray;
	}
}

// Helpers

.central {
	align-items: center;
	display: flex;
	justify-content: center;
}

.aligncenter {
	text-align: center;
}

.margin {
	margin: 1em;

	&.vertical {
		margin: 1em 0;
	}

	&.horizontal {
		margin: 0 1em;
	}

	&.top {
		margin: 1em 0 0 0;
	}

	&.right {
		margin: 0 1em 0 0;
	}

	&.bottom {
		margin: 0 0 1em 0;
	}

	&.left {
		margin: 0 0 0 1em;
	}

}
