// Colors
$color-ocean-blue: #2999a3;
$color-sky-blue: #81d8e0;
$color-orange: #ffc371;
$color-purple: #53446c;
$color-gray: #242d47;
$color-light-gray: #9b9b9b;
$color-background-gray: #43495a;
$color-white: #fff;

$color-green: #2ab27b;
$color-yellow: #ffc371;
$color-red: #bf5329;

// Layout
$background-color-default: $color-white;
$background-color-gray: $color-light-gray;

// Typography
$font-family-sans-serif: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$font-size-minus-3: 0.625rem;
$font-size-minus-2: 0.75rem;
$font-size-minus-1: 0.875rem;
$font-size-base: 16px;
$font-size-plus-1: 1.125rem;
$font-size-plus-2: 1.5rem;
$font-size-plus-3: 1.75rem;
$font-size-plus-4: 2.25rem;
$font-size-plus-5: 2.5rem;
$font-size-plus-6: 3rem;
$font-size-plus-7: 3.375rem;

$line-height-minus: 1.25em;
$line-height-base: 1.5em;
$line-height-plus: 1.75em;

$color-body: $color-gray;

// Borders
$border-light-gray: 1px solid $color-light-gray;

// Buttons
$button-border-radius: 100px;

// Overwrite Bulma variables
$primary: $color-ocean-blue;
$success: $color-green;
$warning: $color-orange;
$danger: $color-red;
