// Colors
$color-ocean-blue: #3f9fa7;
$color-sky-blue: #366063;
$color-orange: #ffc371;
$color-purple: #53446c;
$color-gray: #242d47;
$color-gray-lighter: #5d6682;
$color-inactive-gray: #cdd0da;
$color-light-gray: #efefef;
$color-background-gray: #7a7f91;
$color-background-light-gray: #efefef;
$color-background-lighter-gray: #fcfcfc;
$color-white: #fff;
$color-white-transparent: rgba(255,255,255,0.5);

$color-green: #a7d766;
$color-yellow: #f0aa43;
$color-red: #ea4e60;

// Layout
$background-color-default: $color-white;

// Typography
$font-family-sans-serif: "Lato", sans-serif;

$font-size-minus-3: 0.625rem;
$font-size-minus-2: 0.75rem;
$font-size-minus-1: 0.875rem;
$font-size-base: 14px;
$font-size-plus-1: 1.125rem;
$font-size-plus-2: 1.5rem;
$font-size-plus-3: 1.75rem;
$font-size-plus-4: 2.25rem;
$font-size-plus-5: 2.5rem;
$font-size-plus-6: 3rem;
$font-size-plus-7: 3.375rem;

$line-height-minus: 1.25em;
$line-height-base: 1.5em;
$line-height-plus: 1.75em;

$color-body: $color-gray;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Borders
$border-light-gray: 1px solid $color-light-gray;

// Buttons
$border-radius-full: 100px;

// Square buttons
$rounded-square-sizes: (
	small: 20px,
	medium: 30px,
	large: 50px
);

// Spacing
$margin-tiny: 0.1em;
$margin-small: 0.5em;
$margin-base: 1em;
$margin-big: 2em;
$margin-huge: 3em;

// Animations
$transition-length-base: 0.15s;

// Layout
$navbar-height: 55px;

// Overwrite Bulma variables
$primary: $color-ocean-blue;
$success: $color-green;
$warning: $color-orange;
$danger: $color-red;
$info: $color-purple;
