// Colors
$color-ocean-blue: #0f9698;
$color-sky-blue: #11afb2;
$color-green: #27AA5B;
$color-dark-blue: #2F4999;
$color-orange: #cc3e17;
$color-purple: #62378d;
$color-purple-second: #7B569F;
$color-darkest-gray: #0c1726;
$color-darker-gray: #262B37;
$color-gray: #696969;
$color-lighter-gray: #aaa;
$color-inactive-gray: #cdd0da;
$color-light-gray: #efefef;
$color-lightest-gray: #f7f7f7;
$color-background-gray: #7a7f91;
$color-background-light-gray: #efefef;
$color-background-lighter-gray: #f7f7f7;
$color-background-lightest-gray: #fafafa;
$color-white: rgba(255,255,255,1);
$color-white-transparent: rgba(255,255,255,0.5);
$color-white-overlay: rgba(255,255,255,0.93);

$color-correct-shadow: rgba(68, 180, 144, 0.7);
$color-dark-blue-opacity: rgba(47,73,153, 0.7);
$color-ocean-blue-opacity: rgba(15, 150, 152, 0.7);
$color-ocean-blue-less-opacity: rgba(15, 150, 152, 0.25);
$color-incorrect-shadow: rgba(229, 61, 44, 0.7);

$color-green: #44b490;
$color-yellow: #eca005;
$color-red: #e53d2c;
$color-blue: #2f4999;

//Feature colors
$mention-text-color: #009699;
$autocomplete-box-shadow: 1px 0 2px 0 rgba(132, 102, 102, 0.15);
$autocomplete-text-color: #0f1a29;
$autocomplete-box-border: solid 1px #d6d9e1;
$autocomplete-box-background: #fff;
$autocomplete-active-item-background: $color-light-gray;
$autocomplete-active-item-text-color: #fff;

// Gradients
$gradient-bg-image-left: #30E8BF;
$gradient-bg-image-right: #FF8235;

// Layout
$background-color-default: $color-white;

// Typography
$font-family-sans-serif: "Lato", sans-serif;

$font-size-minus-4: 0.55rem;
$font-size-minus-3: 0.675rem;
$font-size-minus-2: 0.75rem;
$font-size-minus-1: 0.875rem;
$font-size-base: 14px;
$font-size-base-mobile: 16px;
$font-size-plus-1: 1.125rem;
$font-size-plus-2: 1.5rem;
$font-size-plus-3: 1.75rem;
$font-size-plus-4: 2.25rem;
$font-size-plus-5: 2.5rem;
$font-size-plus-6: 3rem;
$font-size-plus-7: 3.375rem;
$font-size-plus-8: 6em;

$line-height-none: 1em;
$line-height-minus: 1.25em;
$line-height-base: 1.5em;
$line-height-plus: 1.75em;

$color-body: $color-darkest-gray;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Borders
$border-light-gray: 1px solid $color-light-gray;
$border-dark-gray: 1px solid $color-gray;
$border-thick: 3px;

// Buttons
$border-radius-small: 5px;
$border-radius-full: 100px;

// Square buttons
$rounded-square-sizes: (
	small: 20px,
	medium: 30px,
	large: 40px,
	extralarge: 90px,
	extraextralarge: 138px,
);

// Spacing
$margin-tiny: 2px;
$margin-small-minus: 6px;
$margin-small: 7px;
$margin-medium: 10px;
$margin-base: 15px;
$margin-big: 30px;
$margin-huge: 45px;
$margin-humongous: 80px;

// ConversationSnippet
$min-height: 62px;

// Animations
$transition-length-base: 0.15s;
$transition-length-long: 0.35s;
$transition-length-longest: 0.5s;

// Layout
$full-height: 100vh;
$navbar-height: 55px;
$search-input-height: 27.2px;
$main-height: calc(#{$full-height} - #{$navbar-height});

$column-padding: $margin-base;

$main-nav-size: 7vw;
$main-nav-max-size: 80px;
$main-nav-min-size: 55px;

$sidenav-min-width: 150px;
$sidenav-max-width: 250px;
$sidenav-for-messages: 300px;
$sidenav-width: 23%;

$course-content-max-width: 900px;
$course-content-flex: 1;

$course-chat-max-width: 600px;
$course-chat-min-width: 250px;
$course-chat-width: 29%;

// Overwrite Bulma variables
$primary: $color-ocean-blue;
$success: $color-green;
$warning: $color-yellow;
$danger: $color-red;
$info: $color-blue;

$text: $color-darkest-gray;

// z-index positioning
$z-index-navbar: 50;
$z-index-active-filters: 40;
$z-index-sidenav-slot: $z-index-navbar - 1;
$z-index-overlay: $z-index-navbar + 1;
$z-index-autocomplete: $z-index-overlay;
$z-index-alerts: 16777271; // The highest possible value in Safari
$z-index-fullscren-close: 16777270; // Almost the highest possible value in Safari
$z-index-fullscren: 16777269;

//media queries
$mobile: 759px;

$media-query-tablet: (min-width: 760px);
