// Fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin-ext);

@import "variables";

// External frameworks
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bulma/bulma";

// Internal imports
@import "styleguide";

// Navigation

.navbar-default {
	background-color: $background-color-default;
}

.navbar-brand-image {
	max-height: 25px;
}

.payment-container {

	.checkbox input {
		margin: 2px 0 0;
	}
}

.payment-content {
  padding-bottom: 120px;
}

footer {
	margin: 20px 0;
}
