@import "variables";

// External frameworks
@import 'node_modules/bulma/bulma';
@import 'node_modules/bulma-checkradio/dist/css/bulma-checkradio';
@import 'node_modules/flatpickr/dist/flatpickr';
@import 'node_modules/quill/dist/quill.bubble';
@import 'node_modules/quill/dist/quill.snow';

// Internal imports
@import "styleguide";
@import "mixins";
@import "transitions";
@import "./views/login";

// Fonts
@import "node_modules/font-awesome/scss/font-awesome";
@import "fonts";


// Layout
$navbar-height: 3.5rem;
$layout-left-max-width: 600px;
$layout-left-inside-width: 200px;
$layout-main-width: 660px;
$layout-right-width: 400px;

$three-column-left-flex: 4;
$three-column-main-flex: 7;
$three-column-right-flex: 3;

html, body {
	height: 100%;
	min-height: 100%;
}

html.is-mobile {
	font-size: 16px;
}

html.thick-scrollbar {
	@include scrollbar(15px, $color-light-gray);
}

html {
	// Scrollbars
	@include scrollbar(2px, $color-light-gray);
	@include scrollbar-body($color-light-gray);
}

#app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 100vh;
	min-width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
	width: 100vw;
}

// Navigation
.navbar-default {
	background-color: $background-color-default;
}

.wnl-main {
	display: flex;
	flex: 1;
	flex-direction: row;
	height: calc(100vh - (#{$navbar-height} - 10px));
	min-height: 0;
}

.wnl-app-layout {
	align-items: stretch;
	display: flex;
	flex: 1;
}

.wnl-column {
	display: flex;
	height: $main-height;
	min-height: $main-height;
	max-height: $main-height;
	overflow-y: auto;
}

.wnl-left {
	display: flex;
	flex: $three-column-left-flex;
	justify-content: flex-end;
	max-width: 500px;
}

.wnl-middle {
	flex: $three-column-main-flex;
	max-width: 800px;
	padding: 0;
}

.wnl-right {
	display: flex;
	flex: $three-column-right-flex;
	padding: 0 20px;
}

.wnl-app-layout-left {
	border-right: $border-light-gray;
	padding: 20px 0;
}

.wnl-app-layout-main {
	flex: $three-column-main-flex;
	max-width: 800px;
	overflow-y: hidden;
	padding: 0;
	position: relative;
}

.wnl-app-layout-right {
	border-left: $border-light-gray;
	overflow-y: auto;
	padding-left: 20px;
}

.wnl-left-content {
	float: right;
	width: 280px;
	padding: 0 20px;
}

.wnl-right-content {
	padding: 0 20px;
}

.scrollable-main-container {
	height: $main-height;
	max-height: $main-height;
	overflow-y: auto;
	padding: $column-padding;
	width: 100%;
}

.footer {
	background-color: $background-color-default;
	border-top: $border-light-gray;
	margin: 5em 0 0;
}

// Screens
.wnl-screen-title {
	border-bottom: $border-light-gray;
}

// Search
.wnl-search {
	em {
		color: $gradient-bg-image-right;
		font-weight: 700;
		font-style: inherit;
	}
}

// Videos
.wnl-ratio-16-9 {
	padding-bottom: 56.25%;
	position: relative;
	width: 100%;
}

.wnl-ratio-16-9-content {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.is-faux-fullscreen {
	bottom: 0 !important;
	left: 0 !important;
	position: fixed !important;
	right: 0 !important;
	top: 0 !important;
	transition: all 0.2s;
	z-index: $z-index-fullscren;
}

.faux-fullscreen-close {
	border: 0;
	background: rgba(210,210,210,0.5);
	border-radius: $border-radius-full;
	box-sizing: content-box;
	color: $color-white;
	cursor: pointer;
	height: 28px;
	padding: 10px;
	position: fixed;
	right: 1vw;
	top: 1vw;
	width: 28px;
	z-index: $z-index-fullscren-close;
}

// Chat

.wnl-chat-toggle {
	align-items: center;
	border-left: $border-light-gray;
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	justify-content: flex-start;
	padding: $margin-base;

	.icon {
		color: $color-ocean-blue;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		margin: $margin-base $margin-small;

		span {
			font-size: $font-size-minus-4;
			text-transform: uppercase;
			white-space: nowrap;
		}
	}
}

// Editor
.ql-editor {
	word-break: break-word;
}

// Notifications

.wnl-alert.swal2-modal {
	font-family: $font-family-sans-serif;

	.swal2-icon {
		margin: 20px auto 15px;
	}

	.swal2-title {
		font-size: 20px;
		font-weight: 400;
	}

	.swal2-content {
		font-size: 16px;
	}

	.swal2-spacer {
		background: transparent;
		margin: 10px 0;
	}

	.button {
		margin: 0 1em 1em;
	}
}

// Payment

.payment-content {

	.text-danger {
		font-size: $font-size-minus-1;
		font-weight: $font-weight-bold;
	}
}

section.voucher {
	strong {
		color: $color-white;
	}
}

.voucher-code {
	@include flex-center;

	form {
		width: 280px;
	}

	label {
		font-size: $font-size-minus-1;
		font-weight: $font-weight-bold;
		margin-bottom: $margin-base;
		text-transform: uppercase;
	}

	input {
		@include simple-input

		font-size: $font-size-plus-2;
		font-weight: $font-weight-bold;
		letter-spacing: 1px;
		text-transform: uppercase;
		width: 100%;
	}

	.is-error {
		color: $color-red;
		text-align: center;
	}

	.voucher-skip {
		margin-top: $margin-huge;
	}
}

#payment-steps {
	margin-bottom: 3em;
}

.payment-step {
	align-items: center;
	border-color: $color-white-transparent;
	color: $color-white-transparent;
	display: flex;
	flex-direction: column;
	text-align: center;

	&.is-active {
		border-color: $color-white;
		color: $color-white;
	}

	&.is-current {

		.payment-step-count {
			@include glow;
		}

		.payment-step-text {
			font-weight: $font-weight-black;
		}
	}
}

.payment-step-count {
	border: 2px solid;
	border-radius: $border-radius-full;
	display: block;
	font-size: $font-size-plus-5;
	font-weight: $font-weight-black;
	line-height: 1.5em;
	margin-bottom: 10px;
	height: 1.7em;
	width: 1.7em;
}

.payment-step-text {
	font-size: $font-size-minus-1;
}

.onsite-plus {
	display: block;
	font-size: $font-size-plus-7;
	text-align: center;
	width: 100%;
}

.sublist-group {
	list-style-type: disc;
	margin: 5px 30px 15px 30px;
}

// Helper classes
.show {
	display: block;
	visibility: visible;
}

.hidden {
	display: none;
	visibility: hidden;
}

.subsection {
	margin: 2em 0;
}

.full-height {
	height: 100%;
	min-height: 100%;
}

.unselectable {
	user-select: none;
}

.clickable {
	cursor: pointer;
}

.wrap {
	word-break: break-word;
	word-wrap: break-word;
}

/* Firefox hack :/ */
@-moz-document url-prefix() {
	.wnl-chat-content {
		min-height: 0;
	}
}

/* Chrome display: flex bug */
.nav {
	min-height: $navbar-height;
}

.full-width {
	max-width: none;
	width: 100%;
}

.is-relative {
	position: relative
}

/* Not supported browser modal */
.not-supported-browser-modal {
	z-index: $z-index-overlay;

	.content {
		font-weight: $font-weight-regular;
	}
}
