@import "variables"

// Internal imports
@import "styleguide"
@import "mixins"

$fullscreen-menu-height: 70px

.slideshow-fullscreen-menu
	align-items: center
	// background-color: $color-white-transparent
	bottom: 0
	display: flex
	justify-content: space-between
	left: 0
	height: $fullscreen-menu-height
	padding: 10px
	position: fixed
	right: 0

	.menu-item
		align-items: center
		justify-content: center

.rounded-button
	align-items: center
	background-color: $color-white-transparent
	border-radius: 5%
	cursor: pointer
	display: flex
	height: 5vh
	justify-content: center
	min-height: 40px
	min-width: 40px
	max-height: 50px
	max-width: 50px
	width: 5vh

	img
		height: 60%
		width: 60%
