@import 'organisms/cart';
$avatars-colors-list: #1abc9c, #2ecc71, #3498db, #9b59b6, #34495e, #16a085, #27ae60, #2980b9, #8e44ad, #2c3e50, #f1c40f, #e67e22, #e74c3c, #f39c12, #d35400, #c0392b;

.t-checkout {
  flex-grow: 1;

  @media #{$breakpoint-m} {
    display: flex;
  }
}

.t-checkout__content {
  width: 100%;

  @media #{$breakpoint-m} {
    min-width: 620px;
  }
}

.t-checkout__cart {
  width: 100%;

  @media #{$breakpoint-m} {
    order: 2;
    min-width: 360px;
    max-width: 660px;
  }
}

.a-avatar {
  width: $icon-s;
  height: $icon-s;


  &.-isAutomatic {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $storm-gray;
    color: $color-white;
    font-size: $font-size-minus-1;
  }
}
