.o-cart {
  padding: $space-xs $space-m $space-l $space-m;
  background-color: $alabaster;
  display: flex;
  flex-direction: column;

  &__headline {
    margin-bottom: $space-m;
  }

  &__card {
    background-color: $white;
    display: flex;
    padding: $space-xxs $space-xs $space-s $space-xs;
    border-radius: 5px;
    margin-bottom: $space-m;

    &__logo {
      height: $icon-xl;
      margin-right: $space-m;
    }

    &__text {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin-bottom: $space-s;

    &__item {
      padding-bottom: $space-xxs;
      border-bottom: 1px solid $mischka;
    }
  }
}
