.o-footer {
  @include textMinus1;
  background-color: $color-catalina-blue;
  padding: 0 $space-m;
  display: flex;
  flex-direction: column;

  @media #{$breakpoint-s} {
    flex-direction: row;
    padding: $space-m 0;
  }

  &__block {
    padding: $space-m 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$breakpoint-s} {
      flex: 0 1 auto;
      padding: 0 0 0 $space-m;
      max-width: 348px;
    }

    .a-icon {
      @media #{$breakpoint-s} {
        margin-left: $space-s;
        margin-right: $space-m;
      }
    }

    &.-first {
      border-bottom: 1px solid $color-cadet-blue;

      @media #{$breakpoint-s} {
        border-bottom: none;
        border-right: 1px solid $color-cadet-blue;
      }
    }
  }
}
