.m-form-group {
  margin-bottom: $space-xs;

  .a-label {
    margin-bottom: $space-xxxs;
  }

  .a-error {
    margin-top: $space-xxxxs;
  }

  .a-checkbox {
    margin-right: $space-s;
  }

  @media #{$breakpoint-s} {
    .-grouped & {
      flex: 1;

      &:not(:last-child) {
        margin-right: $space-m;
      }

    }
  }

  &.-checkbox {
    display: flex;
    align-items: center;

    .a-label {
      margin-bottom: 0;
    }
  }
}

@media #{$breakpoint-s} {
  .-grouped {
    display: flex;
  }
}
