.m-formGroup {
  &:not(:last-child):not(.-marginLess) {
    margin-bottom: $space-xs;
  }

  .a-label {
    margin-bottom: $space-xxxs;
  }

  .a-error {
    margin-top: $space-xxxxs;
  }

  .a-checkbox, .a-radio {
    margin-right: $space-s;
  }

  @media #{$breakpoint-s} {
    .-grouped & {
      flex: 1;

      &:not(:last-child) {
        margin-right: $space-m;
      }

    }
  }

  &.-checkbox {
    display: flex;
    align-items: center;

    .a-label {
      margin-bottom: 0;
    }
  }

  &.-withIcon {
    .a-icon {
      margin-left: 10px;
    }
  }
}

.-grouped {
  &:not(:last-child) {
    margin-bottom: $space-xs;
  }

  @media #{$breakpoint-s} {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
