.m-formGroup {
  &:not(:last-child):not(.-marginLess) {
    margin-bottom: $space-xs;
  }

  .a-label {
    margin-bottom: $space-xxxs;
  }

  .a-error {
    margin-top: $space-xxxxs;
  }

  .a-checkbox, .a-radio {
    margin-right: $space-s;
  }

  &.-checkbox {
    display: flex;
    align-items: center;

    .a-label {
      font-size: $font-size-base;
      line-height: $line-height-base;
      margin-bottom: 0;
    }
  }

  &.-withIcon {
    .a-icon {
      margin-left: 10px;
    }
  }
}
