.m-checkoutListItem {
  @include centeredSpread;
  @include textMinus1;

  border-bottom: 1px solid $color-mischka;
  color: $color-storm-gray;
  padding: $space-xxxs 0;

  &__value {
    font-weight: 300;
    margin-left: $space-xxl;
    text-align: right;
  }
}
