.m-paymentOption {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: $space-m;

  &__label {
    cursor: pointer;
    display: block;
    font-size: $font-size-plus-1;
    line-height: $line-height-plus-1;
  }

  &__info {
    color: $color-storm-gray;

    @media #{$breakpoint-s} {
      font-size: $font-size-minus-1;
      line-height: $line-height-minus-1;
    }
  }

  &.-active {
    background-color: $color-athens-grey;
  }

  .a-icon {
    color: $color-storm-gray;
  }
}
